.header {
  .header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .header__logo {
      width: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .header__nav {
      nav {
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;
          list-style: none;
          li {
            a {
              text-decoration: none;
              color: #3399ff;
              font-size: 22px;
            }
          }
        }
      }
    }
    .header__auth {
      display: flex;
      align-items: center;
      gap: 15px;
      .btn-auth {
        background-color: transparent;
        color: #3399ff;
        border: 1px solid #3399ff;
        border-radius: 15px;
        padding: 15px 25px;
        font-size: 18px;
        font-weight: 600;
        &:hover {
          cursor: pointer;
          background-color: #3399ff;
          color: white;
        }
      }
    }
  }
}
